nav 
{
    display: none;
    grid-template-columns: repeat(10, 10%);
    border-top: 1px solid rgb(110, 110, 110);
    a
    {
        margin: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
}