$colorWhite: white;

header
{
    padding-top: 1em;
    margin-top: -2.5em;
    margin-left: -1em;
    background-color: $colorWhite;
    width: 110%;
    position: fixed;
    z-index: 1;
    border-bottom: 3px solid black;
    div
    {
        display: grid;
        grid-template-columns: 5% 10% 85%;
        img
        {
            width: 1.5em;
        }
        a
        {
            text-align: center;
            display: block;
            color: black;
            border-bottom: 2px solid transparent;
            margin: 10px 20px;
        }
        > a:hover
        {
            border-bottom: none;
        }
        ul
        {
            display: grid;
            a
            {
                text-align: left;
                padding-left: 1em;
            }
            &::after
            {
                content: "";
                display: table;
                clear: both;   
            }
            li
            {
                float: left;
                text-align: center;
                position: relative;
            }
        }
    }
}

#menu
{
    margin-left: 50%;
    margin-top: 12.5%;
}

.first
{
    display: none;
	box-shadow: 0em 1em 2em #CCC;
	background-color: $colorWhite;
	position: absolute;
	width: 100%;
	z-index: 1;
}