main
{
    padding-top: 3em;
    margin-left: 2.5%;
}

input
{
    width: 33%;
    margin: 0.5em;
    margin-left: 0em;;
}

textarea
{
    font-size: 1.5em;
    width: 95%;
    height: 30em;
}

#send
{
    width: 15%;
}