/******@media******/

@media (max-width: 1000px)
{
    nav
    {
        grid-template-columns: repeat(2, 20%);
    }

    footer > ul
    {
        grid-template-columns: repeat(3, 20%);
    }
}

@media (min-width: 1000px)
{
    nav
    {
        grid-template-columns: repeat(2, 10%);
    }

    footer > ul
    {
        grid-template-columns: repeat(3, 10%);
    }
}

/******body******/

body
{
    font-family: sans-serif;
}

/******header******/

header
{
    margin-top: -1.33em;
    margin-left: -1em;
    background-color: white;
    width: 110%;
    position: fixed;
    display: grid;
    grid-template-columns: 33% 67%;
    border-bottom: 1px solid black;
    z-index: 1;
}

header ul
{
    display: grid;
    grid-template-columns: 80%;
}

header > ul > li
{
    float: left;
	text-align: center;
	position: relative;
}

header a
{
    text-align: center;
    display: block;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px
}

header img
{
    width: 1em;
}

header > a:hover
{
    border-bottom: none;
}

header ul::after
{
    content: "";
    display: table;
    clear: both;
}

header >  ul li:hover .first
{
	display: block;
}

/******div******/

/******nav******/

nav 
{
    display: grid;
}

nav a
{
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

nav a:hover
{
    border: 1px solid red;
}

/******main******/


/******footer******/

footer > ul
{
    display: grid;
}

/******a******/

a
{
    text-decoration: none;
    color : black;
}

a:hover
{
    color: red;
    border-bottom: 1px solid red;
}

/******ul******/

ul
{
    list-style-type: none;
}

/******li******/

li
{
    text-align: left;
}

/******section*****/

section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/******article*******/

article
{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0.5em 0.5em 0.5em;
}

/******h1******/

h1
{
    text-align: center;
}

/******h3******/

h3
{
    text-align: center;
}

/******p******/

p
{
    margin: 15px;
    text-align: justify;
}

/******class******/


/******#******/

.first
{
    display: none;
	box-shadow: 0em 1em 2em #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.first li:hover .second
{
    display: block;
}

.second
{
	display: none;
	box-shadow: 0px 10px 20px #CCC;
	background-color: white;
	position: relative;
	width: 80%;
	z-index: 2;
}

.second li
{
	float: none;
	width: 100%;
	text-align: left;
}

.second a
{
	padding: 0.25em;
	border-bottom: none;
}

.second a:hover
{
	background-color: #E5E5E5;
}

#CV a:hover
{
    border-bottom: none;
}