#up
{
    text-align: center;
}

#fond
{
    filter: blur(8px);
    position: absolute;
    z-index: -1;
    height: 66%;
    width: 100%;
}

#up #face
{
    filter: blur(-8px);
    border-radius: 1000px;
    border: 5px solid black;
}

#up #name
{
    padding-top: 3em;
}