/******body******/

body
{
    font-family: sans-serif;
}

/******div******/

/******main******/


/******footer******/

footer > ul
{
    display: grid;
}

/******a******/

a
{
    text-decoration: none;
    color : black;
}

a:hover
{
    color: red;
    border-bottom: 1px solid red;
}

/******ul******/

ul
{
    list-style-type: none;
    padding: 0;
}

/******li******/

li
{
    text-align: left;
}

/******section*****/

section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/******article*******/

article
{
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0.5em 0.5em 0.5em;
}

/******h1******/

h1
{
    text-align: center;
}

/******h2******/

/******h3******/

h3
{
    margin: 5px;
    text-align: center;
}

/******p******/

p
{
    margin: 15px;
    text-align: justify;
}

/******class******/

.first
{
    display: none;
	box-shadow: 0em 1em 2em #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.first a:hover
{
	background-color: #E5E5E5;
    border-bottom: none;
}

.second
{
    display: none;
	box-shadow: 0em 1em 2em #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.second a:hover
{
	background-color: #E5E5E5;
    border-bottom: none;
}