nav 
{
    display: grid;
    grid-template-rows: 10%;
    border-right: 1px solid black;
    margin-right: 90%;
    background-color: white;
}

nav a
{
    text-align: center;
    margin: 5px;
}

nav a:hover
{
    background-color: #cdcdcd ;
}
