nav 
{
    display: grid;
    margin-top: 5em;
}

nav a
{
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

nav a:hover
{
    border: 1px solid red;
}

header
{
    margin-top: -5em;
}